extends layout

block content
  div#main.container-fluid
    script(src="/socket.io/socket.io.js")
    div.row-fluid
      div.span10
        small Logged in as <span id="user_name" userid=#{user._id}>#{user.displayName}</span> (<a href="/logout">Log Out</a>)
      div.span2
    div.row-fluid
      div#messages.chatbox.well.span10
        ul#message-list
      div#userlist.chatbox.span2
        small Who's Here
        ul
    div.row-fluid
      div.input-append
        div#input.span10
          div.input-append
            input#msg.appendedInputButton.span10(type="text")
            button#msg-send.btn(type="button") Send
  script(src="/javascripts/client.js")