extends layout

block content
  script(src="/socket.io/socket.io.js")
  small Logged in as <span id="user_name">#{user.displayName}</span> (<a href="/logout">Log Out</a>)
  div.row
    div#messages.chatbox.span9.well
      ul
    div#userlist.chatbox.span2
      small Who's Here
      ul
  div.row
    div.input-append
      div#input.span11
        div.input-append
          input#msg.appendedInputButton.span9(type="text")
          button#msg-send.btn(type="button") Send

  script(src="/javascripts/client.js")