extends layout

block append head
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/underscore.js")
  script(src="/javascripts/backbone.js")
  script(src="/javascripts/handlebars.js")
  script(src="/javascripts/jquery.titlealert.js")
  script(src="/socket.io/socket.io.js")
  
block content
  div#main.container-fluid
    div#top-row.row-fluid
      div.span10
        small Logged in as <span id="user_name" userid=#{user._id}>#{user.displayName}</span> (<a href="/logout">Log Out</a>)
      div.span2
    div#middle-row.row-fluid
      div#messages.chatbox.well.span10
        ul#message-list
      div#users.chatbox.span2
    div#bottom-row.row-fluid
      div.input-append
        div#input.span10
          div.input-append
            input#msg.appendedInputButton.span10(type="text")
            button#msg-send.btn(type="button") Send
  script(type="text/javascript")
    chat_host = "#{chat_host}";
    chat_port = "#{chat_port}";
    chat_view = {};
  script(src="/javascripts/waitForImages.js")
  script(src="/javascripts/client.js")
  
  script#users-list-template(type="text/x-handlebars-template")
    small Whos Here
      ul#user-list
      {{#each users}}
      li.username {{this.nickname}}
      {{/each}}
  
  script#message-template(type="text/x-handlebars-template")
    li.message
      div.post
        div.item-header
          a.account-group(href="/usrs/{{message.user.username}}")
            img.avatar(src="{{message.user.avatar}}", alt="{{message.user.username}}")
            span.fullname {{message.user.nickname}}
          a.twitter-user(href="http://twitter.com/#!/{{message.user.username}}", target="_blank")
            span.username @{{message.user.username}}
        p.post-body
          small.post-time {{message.date_string}}
          span.message-body {{{message.message}}}
  