extends index

block message-box

div#messages.chatbox.span9.well
      ul
        li.status
          span.user_name Chris M.
          div.message Connected

        li.message
          span.user_name Chris M.
          div.message This is a short message

        li.message
          span.user_name Chris M.
          div.message This is a much longer message I'm going to keep typing until this message gets to be fairly long. I'm not sure how much typing I've done because the lines won't wrap.