@import "/stylesheets/bootstrap.min.css";
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fffef5;
  height: 100%;
}
div {
  display: block;
}
a {
  color: #00B7FF;
}
img {
  border: 0;
}
.chatbox {
  height: 620px;
  background: white;
  overflow-y: scroll;
  word-wrap: break-word;
}
#users {
  background: #fffef5;
  overflow-y: hidden;
  overflow-x: hidden;
}
#user-list {
  list-style-type: none;
}
#messages {
  padding: 5px;
}
#messages > ul {
  list-style-type: none;
  margin: 0;
}
.message img {
  max-width: 480px;
}
.fullname {
  font-weight: bold;
  color: #333;
}
.username {
  font-size: 12px;
}
.twitter-user {
  display: none;
  color: #ccc;
}
.avatar {
  position: absolute;
  top: 12px;
  left: 10px;
}
img.avatar {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.post {
  position: relative;
  padding-top: 12px;
  padding-left: 68px;
  padding-right: 20px;
}
.post-body {
  position: relative;
  text-align: left;
}
.post-time {
  display: none;
  color: #bbb;
  position: relative;
  float: right;
  margin-top: 1px;
}
p.post-body:hover .post-time {
  display: block;
}
a.account-group:hover .twitter-user {
  display: inline;
}
.status {
  text-align: center;
  color: #ccc;
}
.odd {
  background: rgba(245, 245, 245, 0.3);
}
.youtube {
  position: relative;
}
a.yt-video {
  position: absolute;
  display: block;
  background: url("../images/youtube-play.png");
  height: 61px;
  width: 86px;
  top: 155px;
  left: 197px;
}
