@import "/stylesheets/bootstrap.min.css";

@bodyBackground: rgb(255, 254, 245);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @bodyBackground;
}

a {
  color: #00B7FF;
}

.chatbox {
  height: 620px;
  background: white;
  overflow-y: scroll;
  word-wrap: break-word;
}

#userlist {
    background: @bodyBackground;
}

#messages>ul {
  list-style-type: none;
}

#messages>ul>li>span {
  font-weight: bold;
  padding: 5px;
  border: 1px grey;
}

#messages img {
  max-width: 400px;
}