@import "/stylesheets/bootstrap.min.css";
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fffef5;
  height: 100%;
}
div {
  display: block;
}
a {
  color: #00B7FF;
}
.chatbox {
  height: 620px;
  background: white;
  overflow-y: scroll;
  word-wrap: break-word;
}
#userlist {
  background: #fffef5;
}
#messages {
  width: 720px;
  padding: 5px;
}
#messages > ul {
  list-style-type: none;
}
.message img {
  max-width: 400px;
}
li.message {
  position: relative;
  padding-top: 20px;
  padding-left: 68px;
}
.user {
  text-align: right;
}
.username {
  background: #eee;
  width: 60px;
  position: absolute;
  left: 0;
  font-weight: bold;
}
.post-body {
  text-align: left;
}
